#area {
    background-color: black;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin: auto auto;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}