body {
    background-color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
    text-align: center;
    color: #333;
}

section div {
    height: fit-content;
    min-width: fit-content;
    width: 80%;
    max-width: 1100px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    margin: 0 auto 30px auto;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

footer {
    text-align: center;
    color: #333;
}