body {
    background-color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

header h1 {
    text-align: center;
}

section div {
    height: auto;
    min-width: 300px;
    width: 50%;
    max-width: 50%;
    margin: 0 auto 10px auto;
    background-color:#fff;
    padding: 15px;
    border-radius: 30px;
}

footer {
    text-align: center;
}