.clear {
    clear: both;
}

body {
    background-color: rgba(64,64,64,1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

header {
    text-align: center;
}

section {
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    min-width: 50%;
    width: fit-content;
    margin: auto;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    z-index: 2;
}

#img {
    background-color: gray;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    float: left;
    margin-right: 15px;
}

#msg {
    line-height: 150px;
    text-align: center;
}

footer {
    text-align: center;
}